@{
    ViewBag.Title = "Home Page";
    
}

<!-- /.row -->
<div class="content">
    @*<div class="row">
        <div class="col-lg-3">
            <div class="tile-progress tile-pink">
                <div class="tile-header">
                    <h5>NUMBER OF STAFF</h5>
                    <h3>@ViewBag.NoOfStaff</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="65.5%" style="width: 65.5%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">65.5</span>% increase </h4>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-3">
            <div class="tile-progress tile-red">
                <div class="tile-header">
                    <h5>AWAITING STAFF FOR RETIREMENT</h5>
                    <h3>@ViewBag.NeartoRetirement</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="70%" style="width: 70%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">70</span>% increase </h4>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-3">
            <div class="tile-progress tile-cyan">
                <div class="tile-header">
                    <h5>EMPLOYEE DUE FOR LEAVE</h5>
                    <h3>@ViewBag.EmployeeDueforLeave</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="50%" style="width: 50%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">50</span>% increase </h4>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-3">
            <div class="tile-progress tile-aqua">
                <div class="tile-header">
                    <h5>VARIOUS ACCOUNTING REPORTS</h5>
                    <h3>--</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="75.5%" style="width: 75.5%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">75.5</span>% increase </h4>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-3">
            <div class="tile-progress tile-aqua">
                <div class="tile-header">
                    <h5>CONTRACTORS ASSESSMENT</h5>
                    <h3>--</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="75.5%" style="width: 75.5%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">75.5</span>% increase </h4>
                </div>
            </div>
        </div>*@
        @*<div class="col-lg-3">
            <div class="tile-progress tile-aqua">
                <div class="tile-header">
                    <h5>STORES INVENTORY</h5>
                    <h3>--</h3>
                </div>
                <div class="tile-progressbar"> <span data-fill="75.5%" style="width: 75.5%;"></span> </div>
                <div class="tile-footer">
                    <h4> <span class="pct-counter">75.5</span>% increase </h4>
                </div>
            </div>
        </div>
    </div>*@

    <!-- /.row -->

    <div class="row">
        <h2>  Welcome, @Session["name"]</h2>
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>