 
 
 
   
  <!-- Left side column. contains the logo and sidebar -->
   
  
  <!-- Content Wrapper. Contains page content -->
 
    
    <!-- Main content -->
    <div class="content"> 
      
      <!-- Main row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Line Chart</h5>
                </div>
              </div>
            </div>
            <div>
              <canvas id="line-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Bar Chart</h5>
                </div>
              </div>
            </div>
            <div>
              <canvas id="bar-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Pie Chart</h5>
                </div>
              </div>
            </div>
            <div>
            	<canvas id="pie-chart" height="150"></canvas>
           	</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Doughnut Chart</h5>
                </div>
              </div>
            </div>
            <div>
            	<canvas id="doughnut-chart" height="150"> </canvas>
           	</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Polar Area Chart</h5>
                </div>
              </div>
            </div>
            <div>
            	<canvas id="polararea-chart" height="150"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="info-box">
            <div class="col-12">
              <div class="d-flex flex-wrap">
                <div>
                  <h5>Radar Chart</h5>
                </div>
              </div>
            </div>
            <div>
            	<canvas id="radar-chart" height="150"></canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.content --> 
 
  <!-- /.content-wrapper -->
 
 
<!-- ./wrapper --> 

<!-- jQuery 3 --> 
<script src="dist/js/jquery.min.js"></script>
 
<script src="dist/plugins/popper/popper.min.js"></script>

<!-- v4.0.0-alpha.6 -->
<script src="dist/bootstrap/js/bootstrap.min.js"></script>

<!-- template --> 
<script src="dist/js/adminkit.js"></script>

<!-- Chartjs JavaScript --> 
<script src="dist/plugins/chartjs/chart.min.js"></script>
<script src="dist/plugins/chartjs/chart-int.js"></script>
 