<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>I Art Automation</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- v4.0.0 -->
<link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Theme style -->
<link rel="stylesheet" href="dist/css/style.css">
<link rel="stylesheet" href="dist/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="dist/css/et-line-font/et-line-font.css">
<link rel="stylesheet" href="dist/css/themify-icons/themify-icons.css">
<link rel="stylesheet" href="dist/css/simple-lineicon/simple-line-icons.css">

<!-- Chartist CSS -->
<link rel="stylesheet" href="dist/plugins/chartist-js/chartist.min.css">
<link rel="stylesheet" href="dist/plugins/chartist-js/chartist-plugin-tooltip.css">


</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper boxed-wrapper">
  <header class="main-header"> 
    <!-- Logo --> 
    <a href="index.html" class="logo blue-bg"> 
    <!-- mini logo for sidebar mini 50x50 pixels --> 
    <span class="logo-mini"><img src="http://saarachee.org/portfolio/sites/mc-financial/dist/img/logo.png" width="120px" alt=""></span> 
    <!-- logo for regular state and mobile devices --> 
    <span class="logo-lg"><img src="http://saarachee.org/portfolio/sites/mc-financial/dist/img/logo.png"  width="120px" alt=""></span> </a> 
    <!-- Header Navbar -->
    <nav class="navbar blue-bg navbar-static-top"> 
      <!-- Sidebar toggle button-->
      <ul class="nav navbar-nav pull-left">
        <li><a class="sidebar-toggle" data-toggle="push-menu" href=""></a> </li>
      </ul>
      <div class="pull-left search-box">
        <form action="#" method="get" class="search-form">
          <div class="input-group">
            <input name="search" class="form-control" placeholder="" type="text">
            <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
            </span></div>
        </form>
        <!-- search form --> </div>
        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages -->
          <li class="dropdown messages-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 new messages</li>
              <li>
                <ul class="menu">
                  <li><a href="#">
                    <div class="pull-left"><img src="dist/img/man1.png" class="img-circle" alt="User Image"> <span class="profile-status online pull-right"></span></div>
                    <h4>Alex C. Patton</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">9:30 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left"><img src="dist/img/img3.jpg" class="img-circle" alt="User Image"> <span class="profile-status offline pull-right"></span></div>
                    <h4>Nikolaj S. Henriksen</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">10:15 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left"><img src="dist/img/img2.jpg" class="img-circle" alt="User Image"> <span class="profile-status away pull-right"></span></div>
                    <h4>Kasper S. Jessen</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">8:45 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left"><img src="dist/img/img4.jpg" class="img-circle" alt="User Image"> <span class="profile-status busy pull-right"></span></div>
                    <h4>Florence S. Kasper</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">12:15 AM</span></p>
                    </a></li>
                </ul>
              </li>
              <li class="footer"><a href="#">View All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications  -->
          <li class="dropdown messages-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Notifications</li>
              <li>
                <ul class="menu">
                  <li><a href="#">
                    <div class="pull-left icon-circle red"><i class="icon-lightbulb"></i></div>
                    <h4>Alex C. Patton</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">9:30 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left icon-circle blue"><i class="fa fa-coffee"></i></div>
                    <h4>Nikolaj S. Henriksen</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">1:30 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left icon-circle green"><i class="fa fa-paperclip"></i></div>
                    <h4>Kasper S. Jessen</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">9:30 AM</span></p>
                    </a></li>
                  <li><a href="#">
                    <div class="pull-left icon-circle yellow"><i class="fa  fa-plane"></i></div>
                    <h4>Florence S. Kasper</h4>
                    <p>I've finished it! See you so...</p>
                    <p><span class="time">11:10 AM</span></p>
                    </a></li>
                </ul>
              </li>
              <li class="footer"><a href="#">Check all Notifications</a></li>
            </ul>
          </li>
          <!-- User Account  -->
          <li class="dropdown user user-menu p-ph-res"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
        <img src="dist/img/man.png" class="user-image" alt="User Image"> <span class="hidden-xs"> Administrator</span> </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <div class="pull-left user-img"><img src="dist/img/man1.png" class="img-responsive img-circle" alt="User"></div>
                <p class="text-left">Administrator <small>abc@gmail.com</small> </p>
              </li>
              <li><a href="#"><i class="icon-profile-male"></i> My Profile</a></li>
              <li><a href="#"><i class="icon-wallet"></i> My Balance</a></li>
              <li><a href="#"><i class="icon-envelope"></i> Inbox</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><i class="icon-gears"></i> Account Setting</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar"> 
      <!-- sidebar -->
      <div class="sidebar"> 
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="image text-center"><img src="dist/img/man1.png" class="img-circle" alt="User Image"> </div>
          <div class="info">
            <p> Administrator</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a> </div>
        </div>
        
        <!-- sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">PERSONAL</li>
          <li class="active treeview"> <a href="blank.html"> <i class="icon-home"></i> <span>Dashboard</span> <span class="pull-right-container"> </span> </a>
          </li>
          <li class="treeview"> <a href="blank.html"> <i class="icon-user"></i> <span>Admin/HR</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="information.html"><i class="fa fa-angle-right"></i> Employee general information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Employee personal information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Employee Academic information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Employee salary information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Professional Training Attended</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Employee Medical information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Annual leave form</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> NYSC clearance form</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Leave roaster template</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Casual leave form</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Graduate Attachment form</a></li>
            </ul>
          </li>
          <li class="treeview"> <a href="blank.html"> <i class="fa fa-user-plus"></i> <span>Account</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Payment Voucher</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Sales cash Receipt</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Revenue day book</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Purchase day book</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Overhead Cash book (Payer)</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Overhead Cash book (Payee)</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Debit Notes</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Revenue Cash book</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> IPAS Accounting</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Reports</a></li>
            </ul>
          </li>
          <li class="treeview"> <a href="blank.html"> <i class="icon-frame"></i> <span>Procurement</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html" class="active"><i class="fa fa-angle-right"></i> Tenderer Information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Bid/Tendering opening information</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Contractors Assessment Scores</a></li>
            </ul>
          </li>
          
          <li class="treeview"> <a href="blank.html"> <i class="fa fa-folder"></i> <span>Stores</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Central store items</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Stationary stores items</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Chemical stores items</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Fertilizers stores items</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i>Combined requisition & issued </a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Store Receipt voucher</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Local purchase order</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Store tally card</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i>Store credit voucher</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i>Delivery notes </a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i>Gate Pass </a></li>
            </ul>
          </li>
          <li class="treeview"> <a href="blank.html"> <i class="fa fa-volume-off"></i> <span>Audit</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Internal Audit Query Register</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Cash Advance Register</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Transaction Breakdown</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Internal Audit General Report</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> CRIV Form</a></li>
            </ul>
          </li>
          <li class="treeview"> <a href="blank.html"> <i class="fa fa-cogs"></i> <span>System configuration</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html"><i class="fa fa-angle-right"></i>Configuration & users Authorization </a></li>
             
            </ul>
          </li>
         
          <li class="treeview"> <a href="blank.html"><i class="fa fa-file"></i> <span>Reports</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
            <ul class="treeview-menu">
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Admin/HR report</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Account Report</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Procurement Report</a></li>
              <li><a href="blank.html"><i class="fa fa-angle-right"></i> Stores Report</a></li>
             
            </ul>
          </li>
          <li class="treeview"> <a href="blank.html"><i class="fa fa-lock"></i> <span>Logout</span> <span class="pull-right-container"> </span> </a>
         
         
         
        </ul>
      </div>
      <!-- /.sidebar --> 
    </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Blank page</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><i class="fa fa-angle-right"></i> Blank page</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               Coming Soon...
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    
    Copyright © 2018 Saaracheetech. All rights reserved.</footer>
</div>
<!-- ./wrapper --> 

<!-- jQuery 3 --> 
<script src="dist/js/jquery.min.js"></script>
 
<script src="dist/plugins/popper/popper.min.js"></script>

<!-- v4.0.0-alpha.6 -->
<script src="dist/bootstrap/js/bootstrap.min.js"></script>

<!-- template --> 
<script src="dist/js/adminkit.js"></script>

<!-- Chart Peity JavaScript --> 
<script src="dist/plugins/peity/jquery.peity.min.js"></script> 
<script src="dist/plugins/functions/jquery.peity.init.js"></script>
</body>
</html>
