
@{
    ViewBag.Title = "Graduateattachement";

}

<div class="content annuaL" id="divmonthlylform">
    <div class="card">
        <div class="card-body">
            <div class="form-group row" id="empcodeArea">
                <div class="col-sm-2"><strong>Select Employee:</strong></div>
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.TextBox("EmployeeCode", "", new { @class = "form-control", @id = "EmployeeCode" })
                    </div>
                </div>

            </div>
            <h3 style="text-align:center;">INSTITUTE OF AGRICULTURAL RESEARCH AND TRAINING</h3>
            <p style="text-align:center;"> <strong>OBAFEMI AWOLOWO UNIVERSITY</strong><br />MOOR PLANTATION, P.M.B. 5029, IBADAN, NIGERIA.</p>

            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <p style="margin: 0px;"><strong>Tel: </strong>07065283864, 08050928174</p>
                    <p style="margin: 0px;"><strong> Fax No: </strong>  234-2-2312567</p>
                    <p><strong>  E-mail:  </strong>  directoriat@yahoo.com,   directoriat@gmail.com</p>



                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 text-cenetr">
                    <img src="/Content/dist/img/logo.png" style="width: 100%;" />
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 text-right">
                    <address style="margin: 0px;">
                        J.A. ADEDIRAN, Dip. (Agric.), M.Sc., Ph.D. (Russia),


                    </address>

                    <p style="margin: 0px;">
                        <strong>Director:</strong> PD Cert. (Res. Mngt.)
                    </p>
                    <p>

                        <strong>website:</strong> www.iart-ngpnline.org, director@iart-ngonline.org

                    </p>
                </div>
            </div>

            <form>
                <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-2 control-label"> Our Ref: </label>
                    <div class="col-sm-2">
                        <div class="form-group has-feedback">
                            <input class="form-control sty1" id="txtOurRefNo">
                        </div>
                    </div>
                    <label for="exampleInputuname3" class="col-sm-2 control-label">Your Ref: </label>
                    <div class="col-sm-2">
                        <div class="form-group has-feedback">
                            <input class="form-control sty1" id="txtYourRefNo">
                        </div>
                    </div>
                    <label for="exampleInputuname3" class="col-sm-2 control-label">Date: </label>
                    <div class="col-sm-2">
                        <div class="form-group has-feedback">
                            <input type="date" class="form-control sty1" id="txtDate">
                        </div>
                    </div>
                </div>
            </form><hr />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                   
                    <p> Dear Mr./Mrs,/Miss&nbsp;<input type="text" style="border:hidden;" id="txtName"> &nbsp;</p>
                    <strong>RE: GRADUATE ATTACHMENT PROGRAMME</strong>

                    <br />


                </div>

            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <p>I refer to your letter dated &nbsp;<input type="date" id="txtLetterDate" style="border:hidden;">&nbsp; on the above subject matter. </p>
                    <p>I am pleased to inform you that the director has approved the extension of your Graduate Attachment Programme in the Institute for Six(6) Months from &nbsp;<input type="date" id="txtFromDate" style="border:hidden;"> to &nbsp;<input type="date" id="txtToDate" style="border:hidden;"></p>
                    <p>I am also pleased to inform you that a sum of Five thousand Naira (N 5,000.00) only per month has been approved for you as maintenance/Financial assistance.</p>





                </div>

            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                 

                    <p>Yours sincerely,</p>

                  
                    <strong>
                        For: Deputy Registrar/Secretary to the Institute
                    </strong>
                </div>

            </div>

            <form>
                <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-6 control-label"> Cc: </label>
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <label for="exampleInputuname3" class="col-sm-12 control-label">Officer-in-charge,<br />Seed Processing and Storage Section,I.A.R. & T.,Ibadan. </label>
                        </div>
                    </div>

                    <label for="exampleInputuname3" class="col-sm-2 control-label"> </label>
                    <div class="col-sm-2">
                        <div class="form-group has-feedback">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">   
                        <strong>
                            Please be informed that the attachment of the above named GAP student posted to your programme has been extended for six months.
                        </strong>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-6 control-label">Cc: </label>
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <label for="exampleInputuname3" class="col-sm-12 control-label">Principal Accountant,<br />I.A.R&T.,Ibadan. </label>
                        </div>
                    </div>

                    <label for="exampleInputuname3" class="col-sm-2 control-label"> </label>
                    <div class="col-sm-2">
                        <div class="form-group has-feedback">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <strong>
                            The above is for your information and necessary action, please.
                        </strong><br />
                        <p>Kindly reinstate payment of <input type="number" id="txtPayment" style="border:none"> , a monthly allowance of Five thousand Naira (N 5,000.00) only for six months from<input type="date" style="border:none"> to <input type="date" style="border:none"> when the renewal of his attachment will be lapsed or expired.</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <strong>
                            For: Deputy Registrar/Secretary to the Institute
                        </strong>
                      
                    </div>

                </div>
               
            </form>
        </div>
    </div>
</div>


<div class="form-group" style="margin-left: 17px;" id="divprintarea">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Print" id="btnPrint" class="btn btn-success" />
    </div>
</div>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">


    $(function () {
        $("#btnPrint").click(function () {

            var obj = {};
            obj.Name = $("#txtName").val();
            obj.EmployeeCode = $("#EmployeeCode").val();//Reading text box values using Jquery
            obj.OurRef = $("#txtOurRefNo").val();
            obj.YourRef = $("#txtYourRefNo").val();
            obj.Date = $("#txtDate").val();
          
            obj.LetterDated = $("#txtLetterDate").val();
            obj.FromDate = $("#txtFromDate").val();
            obj.ToDate = $("#txtToDate").val();
            obj.OfficerInCharge = $("#txtPayment").val();
            obj.PrincipalAccountant = $("#txtLetterDate").val();
            obj.ReinstatePayment = $("#txtPayment").val();
            obj.PaymentFromDate = $("#txtFromDate").val();
            obj.PaymentToDate = $("#txtToDate").val();
            obj.CreatedDate = $("#txtDate").val();
            obj.IsDeleted = false;
            debugger;
            $.ajax(
     {
         type: "POST", //HTTP POST Method
         url: "/EmployeeGIs/Graduateattachement", // Controller/View
          data: '{obj: ' + JSON.stringify(obj) + '}',
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         success: function (response) {
             alert("Graduate Attachment form is Submitted Successfully: ");
         },
         failure: function (response) {
             alert(response.responseText);
         },
         error: function (response) {
             alert(response.responseText);
         }

     });
            $("#empcodeArea").hide();
            $("#divprintarea").hide();
            window.print();
            $("#empcodeArea").show();
            $("#divprintarea").show();
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        $.noConflict();  $("#EmployeeCode").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "/EmployeePIs/AutoEmployeeCode",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<script>

        $('#EmployeeCode').change(function () {
            debugger;
            var EmployeeCode = $(this).val();

        // Send Ajax call and get Task name

    //var Url = 'http://example.com/Controller/Action/?jobid=' + JobId;

            $.ajax({

                url: '/EmployeeGIs/getEmployeedetail/?EmployeeCode=' + EmployeeCode,
                success: function (response) {
                    debugger;


                    $('#txtEmpName').val(response[0].empcode);
            $('#txtName').val(response[0].Name);
        

        },
        error: function (error) {
            alert(errorss);
        }

    });

});</script>