
@{
    ViewBag.Title = "TenderOpeningReport";
    
}

<h2>Tender Opening Report</h2>

@using (Html.BeginForm("TenderOpeningReport", "ProcurementReports", FormMethod.Post))
{
    <input type="submit" value="Export Report" class="btn-btn-success" />
}



