 
@{
    ViewBag.Title = "Coming Soon";
   
 }

<!-- Main content -->
<div class="content">

    <ol class="breadcrumb bc-colored bg-success m-b-3">
        <li class="breadcrumb-item"><a href="#">Audit</a></li>
        <li class="breadcrumb-item active">“COMING SOON”</li>
    </ol>
       </div>