
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Contant Start-->
<div class="content">
    <span class="alert-info">   </span>

    <!--Row Start-->
    <div class="row">

        <div class="col-lg-4">
            <div>
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                        <div class="widget-user-image"> <img class="img-circle" src="/Content/dist/img/man1.png" alt="User Avatar"> </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username">Admin Name</h3>
                        <h5 class="widget-user-desc">Super Administrator</h5>
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Welcome Admin Name</a></li>
                            <li><a href="#">Total Tenants Added <span class="pull-right badge bg-blue">1</span></a></li>
                            <li><a href="#">Recent Tenants <span class="pull-right badge bg-aqua">1</span></a></li>
                            <!--<li><a href="#">Completed Projects <span class="pull-right badge bg-green">30</span></a></li>
                            <li><a href="#">Followers <span class="pull-right badge bg-red">150</span></a></li>
                            <li><a href="#">Completed Projects <span class="pull-right badge bg-green">30</span></a></li>
                            <li><a href="#">Tasks <span class="pull-right badge bg-aqua">25</span></a></li>-->
                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>

        </div>

        <!--Number of Staff BOX-->
        <div class="col-lg-3">
            <div class="tile-progress tile-pink">
                <div class="tile-header">
                    <h5>NUMBER OF TENANTS</h5>
                    <h3>1</h3>
                </div>
                <div class="tile-footer">
                    <h5> <span class="pct-counter">total tenants</span></h5>
                </div>
            </div>
        </div>
        <!--Number of Staff BOX End-->

    </div>
    <!--Row End-->

</div>
<!--Contant End-->